*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --color-white: #fff;
    --color-grey1: #e5e5e5;
}
body{
    background-color: var(--color-white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    padding: 10px 0;
}
.content{
    background-color: var(--color-grey1);
    padding: 10px;
    color: cyan;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.svg{
    width: 40px;
    height: 40px;
}